header {
  background-color: #242020;
  color: #f0f0f0;
  height: 10vh;
  width: 99vw;
  display: flex;
  justify-content:right;
  border-bottom: ridge 10px #f0f0f0;
  border-right: ridge 10px #f0f0f0;
  border-bottom-right-radius: 20px;
  position:fixed;
  left: 0;
  top: 0;
}

nav {
  margin: 3% 3%;
  font-size: 4vw;
  font-family: Germania One;
}

.navLink {
  color: #f0f0f0;
}

body {
  background-image: url('./assests/kayak_1.jpg');
  background-size:cover;
  background-attachment:scroll;
  height: 80vh;
  width: 100vw;
  font-family: Satisfy;
  background-repeat: no-repeat;
  margin-top: 15vh  ;
  margin-bottom: 15vh;
  padding: 10 auto;
  text-align: center;
}

h1 {
  color: black;
  text-shadow: 1px 0px #f0f0f0, 0px 1px #f0f0f0, -1px 0px #f0f0f0, 0px -1px #f0f0f0;
  text-decoration: underline ;
}

h2 {
  color: black;
  text-shadow: 1px 0px #f0f0f0, 0px 1px #f0f0f0, -1px 0px #f0f0f0, 0px -1px #f0f0f0;
}

h3 {
  color: black;
  text-shadow: 1px 0px #f0f0f0, 0px 1px #f0f0f0, -1px 0px #f0f0f0, 0px -1px #f0f0f0;
}

 p {
   font-size: 4vw;
   color: black;
   text-shadow: 1px 0px #f0f0f0, 0px 1px #f0f0f0, -1px 0px #f0f0f0, 0px -1px #f0f0f0;
   background-color:rgb(49, 79, 160);
   margin: 1vmax;
   padding:1vmax;
   border: solid 2px black;
   border-radius: 10px;
   border-bottom-right-radius: 50px;
   border-bottom-left-radius: 50px;
 }

li {
  color: black;
  list-style-type: none;
}

footer {
  background-color: #242020;
  color: #f0f0f0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  width: 99vw;
  border-top: ridge 10px #f0f0f0;
  border-right: ridge 10px #f0f0f0;
  border-top-right-radius: 20px;
  font-family: Germania One;
  position: relative;
  bottom: 0;
  left: 0;
  
}

.socialMedia {
  height: 8vh;
  width: 15vw;
  margin: 10;
  border-radius: 15px;
  border: solid 3px #f0f0f0;
  background-color: #f0f0f0;
}

img {
  height: 8vh;
  width: 15vw;
}

.projImg {
  height: 40vh;
  width: 50vw;
  border: ridge black 5px;
}

address {
  height:10vh;
  width:25vw;
  font-size: 1vw;
}

a {
  color: #d5d6d4;
}

.blogList {
  color: black;
  font-family: Germania One;
  height: 20px;
}

.projectList {
  color: black;
  font-family: Germania One;
  height: 10vh;
}

button {
  height: 5vh;
  width: 10vw; 
}

ul {
  list-style-type: none;
}

address {
  font-size: 2vh;
}

.headshot {
  height:50vh;
  width:50vw;
  text-align: right;
  margin: 20;
  border-bottom: ridge 10px #f0f0f0;
  border-right: ridge 10px #f0f0f0;
  border-top: ridge 10px #f0f0f0;
  border-left: ridge 10px #f0f0f0;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 100px;
  border-top-left-radius: 50px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.project {
  margin-bottom: 5;
}